body {
  background-color: grey;
}

.content {
  background-color: orange;
  height: 100px;
  margin: 5px;
  padding: 50px;
}

.flex-container {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.flex-container2 {
  background-color: pink;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

/* .box1 {
  flex: 1;
}

.box2, .box3 {
  flex: 4;
} */
