
.block1, .block2, .block3 {
  width: 33.33%;
}

.block1 {
  float: left;
}

.block2 {
  float: right;
}

.block3 {
  float: right;
}

h2 {
  text-align: center;
}

.description {
  text-align: center;
}
