<!-- This form should be applied (action) to the page which we want to edit -->
<form class="" action="/<%= @hoax.id %>" method="post">
  <div class="">
    <label>Name</label>
    <input type="text" name="name" value="<%= @hoax.name %>">
  </div>

  <div class="">
    <label>Body</label>
    <textarea type="text" name="info"><%= @hoax.info %></textarea>
  </div>

  <div class="">
    <input type="submit" name="" value="Save Hoax">
  </div>

  <% if @hoax.id != "" %>
    <input type="hidden" name="_method" value="put">
  <% end %>
</form>
