<h1>Add a new ground</h1>

<!-- locates the file named "_form.html.erb" and embed/run this code in place of the following embedded ruby. In addition, create a variable named ground and give pass it the information -->
<%= render "form", ground: @ground %>
