<p><%= comment.body %></p>
<p>Author: <cite><%= comment.author %></cite></p>
<%= link_to "Edit", edit_post_comment_path(@post, comment) %>
<%= link_to "Delete", [@post,comment], method: :delete %>
<br>
