<div class="">
  <h1><%= @post.title %></h1>
  <h2><%= @post.body %></h2>
</div>

<hr>

<div class="">
  <a href="/<%= @post.id%>/edit">Edit</a>
  <form class="" action="/<%= @post.id %>" method="post">
    <input type="submit" name="" value="Delete Post">
    <input type="hidden" name="_method" value="delete">
  </form>
</div>
