* {
  background-color: grey;
}

.content {
  height: 100px;
  background-color: orange;
  margin: 5px;
  padding: 50px;
}

.flex-container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.flex-container2 {
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  flex: 1;
}

.box2, .box3 {
  flex: 4;
}
